/* Red borders on visible elements - handy for debugging */
/** { border: 1px solid red; }*/

:root {
    --bg-color: #223030;
    --text-color: #dddddd;
    --bg-image: url("assets/bg.jpg");
    --SHORTCUT_TIMEOUT: 1.5s;
}
body {
    padding: 0;
    margin: 0;

    background: var(--bg-image);
    background-color: var(--bg-color);
    background-size: cover;
    color: var(--text-color);

    font-family: 'Raleway', sans-serif;
    font-size: 22px;

    user-select: none;
    animation: fadein 1s;
}

#logo {
    padding-top: 25vh;
    text-align: center;
}
#logo h1 {
    font-weight: 200;
    font-size: 4rem;
    margin-bottom: 0;
}
#logo h2 {
    font-weight: 200;
    font-size: 2rem;
    margin-top: 0;
    opacity: 0.5;
}

#content {
    text-align: center;
}

#credits {
    /* Uncomment to hide credits from your local copy */
    /*display: none;*/
    position: absolute;
    font-size: 1rem;
    opacity: 0.5;
    bottom: 1rem;
    left: 1rem;
}

.group {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 20%;
    padding: 1% 3%;
}
.group h1 {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 0;
    border-bottom: 2px solid var(--text-color);
}
.group p {
    margin-bottom: 0;
    padding: 0.3rem 0;
}
.group p + p {
    margin: 0;
}

.shortcut {
    float: right;
    opacity: 0;
    animation: pulse var(--SHORTCUT_TIMEOUT);
}

a, a:hover {
    transition: all 0.4s ease;
}
a {
    padding: 0.3rem 0;
    color: var(--text-color);
    text-decoration: none;

    opacity: 0.5;
    padding-left: 0;
}
.group a:hover {
    opacity: 1;
    padding-left: 0.5rem;
}
#credits a:hover {
    opacity: 1;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes pulse {
    0% { opacity: 0; }
    20% { opacity: 0.3; }
    80% { opacity: 0.3; }
    100%   { opacity: 0; }
}
* {
    margin: 0;
    padding: 0;
    user-select: none;
  }
  
  body {
    background: #29313a;
  }
  
  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .search-box {
    width: 450px;
    height: 100px;
    position: relative;
  }
  
  .input {
    position: absolute;
    top: 20px;
    right: 50px;
    box-sizing: border-box;
    width: 0px;
    height: 63px;
    padding: 0 20px;
    outline: none;
    font-size: 18px;
    border-radius: 50px;
    color: #29313a;
    border: 3px solid #62d474;
    transition: all 0.8s ease;
  }
  
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #62d474;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #62d474;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: #62d474;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: #62d474;
  }
  
  .btn {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #62d474;
    border-radius: 50%;
    right: 45px;
    top: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    color: #fff;
    transition: all 0.8s ease;
  }
  
  .input.active {
    width: 350px;
    right: 100px;
  }
  
  .btn.animate {
    transform: rotate(-360deg);
    right: 100px;
  }
